[Unit]
Description=A simple proxy for Plex and Tvheadend

[Service]
Environment=
WorkingDirectory=/home/tvh/tvhProxy/
ExecStart=/home/tvh/tvhProxy/venv/bin/python /home/tvh/tvhProxy/tvhProxy.py
Restart=always

[Install]
WantedBy=multi-user.target
